/.env
/README.md
/__pycache__
/dbt-jsonschema_main_schemas_dbt_yml_files.json
/mekke.ipynb
/rbt_orders.yml
/tests
.DS_Store
*.pyc
*__pycache__/
*.swp
.user.yml
.venv/
dbt_modules/
dbt_packages/
logs/
notebooks
target/
target-*/
.idea/
